<% if user_signed_in? %>
<h1 class="mb-3"><%=  current_user.name %>'s Teams</h1>
<% else %>
<h1>You're not signed in</h1>
<% end %>

<% @teams.each do |team| %>
<div class="team-card">
  <div class="team-card-details">
    <p><%= team.hometown %> <%= team.name %></p>
    <p>League: <%= team.league.name %></p>
    <p>Owner: <%=  current_user.name %> </p>
  </div>
  <div class="team-card-links">
    <%= link_to "Team Dashboard", team_path(team), class: "btn btn-light" %>
    <%= link_to "League Home", league_path(team.league), class: "btn btn-outline-light" %>
  </div>
</div>
<% end %>

<%= link_to "Create New Team", new_team_path, class: "btn btn-light mt-3" %>
<%= link_to "Create New League", new_league_path, class: "btn btn-outline-light mt-3" %>