<div class="team-header">
  <div class="team-header-details">
    <%= cl_image_tag user_avatar(@team.user, 100), class: "avatar-bordered mb-1 mr-3" %>
  <div>
    <h1><%= @team.hometown %> <%= @team.name %></h1>
    <h4><%= @team.league.name %> | <%= @team.user.name %></h4>
    <% if @team.user == current_user %>
    <p><%= link_to "Team Settings >>", team_settings_path(@team) %></p>
    <% end %>
  </div>
  </div>
  <div class="team-actions">

  <%= link_to "See League", league_path(@team.league), class: "btn btn-light mt-3 mb-1" %>
  <%= link_to "My Teams", teams_path, class: "btn btn-outline-light mb-1" %>
  
  
</div>
</div>

<div class="row">
  <div class="col-lg-6 col-sm-12">
    <h2><%= @team.user.name %>'s Posts</h2>
<% if @team.user.posts.count == 0 %>
  <p><%= @team.user.name %> hasn't posted anything.</p>
<% else %>
  <% @team.user.posts.sort_by(&:created_at).reverse.each do |post| %>
<div class="post-preview-card">
  <div class="post-preview-card-content">
    <h3><%= post.title %></h3>
    <p>Posted by: <%= post.author %> | <%= post.created_at %></p>
    <p><%= truncate(strip_tags(post.rich_text_content.to_s), length: 200) %>... <%= link_to "Full post >>", post_path(post) %></p>
  </div>
</div>
<% end %>
<% end %>
<% if current_user == @team.user %>
<%= link_to "New Post", new_post_path, class: "btn btn-light mt-3 mb-5" %>
<% end %>
  </div>

  <div class="col-lg-6 col-sm-12">
    <h2>In The News</h2>
    <%= form_tag team_path(@team), method: :get, class: "mb-3" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control mb-1",
        placeholder: "Search for players, teams..."
      %>
      <%= submit_tag "Search", class: "btn btn-light" %>
    <% end %>
    <div class="news-grid">
      <% @articles.each do |article| %>
        <div class="news-card">
          <p>From <%= article.name %></p>
          <p><strong><%= link_to article.title.truncate(75), article.url %></strong></p>
        </div>
      <% end %>
    </div>
  </div>
</div>



