<%= render 'shared/team-nav' %>

<div class="team-header">
  <div class="team-header-details">
    <%= cl_image_tag user_avatar(@team.user, 100), class: "avatar-bordered mb-1 mr-3" %>
    <div>
      <h1><%= @team.hometown %> <%= @team.name %></h1>
      <h4><%= @team.league.name %></h4>
      <h3><%= @team.user.name %></h3>
      <div class="d-flex flex-column">
        <% if @team.user == current_user %>
        <%= link_to "Team Settings >>", team_settings_path(@team) %>
        <% end %>
        <%= link_to "ESPN Fantasy Home >>", 'https://www.espn.com/fantasy/' %>
      </div>
    </div>
  </div>
  <div class="team-trophies">
  <% @team.championships.count.times do %>
  <div><i class="fas fa-trophy fa-3x mr-2"></i></div>
  <% end %>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-sm-12">
    <h2><%= @team.user.name %>'s Posts</h2>
<% if @team.user.posts.count == 0 %>
  <p><%= @team.user.name %> hasn't posted anything.</p>
<% else %>
  <% @team.user.posts.sort_by(&:created_at).reverse.each do |post| %>
<div class="post-preview-card">
  <div class="post-preview-card-content">
    <h3><%= post.title %></h3>
    <small>Posted by <%= post.author %> <%= time_ago_in_words(post.created_at)%> ago</small>
    <p><%= truncate(strip_tags(post.rich_text_content.to_s), length: 100) %>... <%= link_to "Full post >>", post_path(post) %></p>
  </div>
</div>
<% end %>
<% end %>
<% if current_user == @team.user %>
<%= link_to "New Post", new_post_path, class: "btn btn-light mt-3 mb-5" %>
<% end %>
  </div>

  <div class="col-lg-6 col-sm-12">
    <h2>In The News</h2>
    
    <div class="news-grid">
      <% @articles.each do |article| %>
        <div class="news-card">
          <p>From <%= article.name %></p>
          <p><strong><%= link_to article.title.truncate(75), article.url %></strong></p>
        </div>
      <% end %>
    </div>
  </div>
</div>



