<%= render 'shared/league-nav' %>
<div class="league-heading mb-3">
  <h1><%= @league.name %></h1>
</div>
<h2>League History</h2>
<% if @league.user_id == current_user.id %>
  <%= link_to "Crown a Champion >>", new_league_championship_path(@league) %>
<% end %>
<div class="championship-grid">
  <% @league.championships.sort_by(&:year).reverse.each do |championship| %>
  <div class="championship-card">
    <div class="edit-delete-championship">
      <% if @league.user_id == current_user.id %>
        <div>
          <%= link_to edit_league_championship_path(id: championship.id, league_id: @league.id) do %>
          <i class="far fa-edit"></i>
          <% end %>
          <%= link_to league_championship_path(id: championship.id, league_id: @league.id),
            method: :delete,
            data: { confirm: 'Are you sure you want to delete this championship?'} do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="championship-card-details">
      <div class="championship-card-year"><%= championship.year %></div>
      <div class="championship-card-user">
        <%= cl_image_tag user_avatar(championship.team.user, 100), class: "avatar-bordered-md mb-1" %>
        <div><%= championship.team.user.name %></div>
      </div>
      <div><i class="fas fa-trophy fa-3x"></i></div>
    </div>
  </div>
<% end %>
</div>
