<div class="league-heading mb-3">
  <h1><%= @league.name %></h1>
  <%= link_to "ESPN Fantasy Home >>", 'https://www.espn.com/fantasy/' %>
  <br>
  <% if current_user.id == @league.user_id %>
    <%= link_to "League Settings >>", league_settings_path(@league) %>
  <% end %>
</div>

<% if @league.users.include?(current_user) %>

  <div class="row">
    <div class="col-lg-7 col-sm-12 mb-3 pr-5">
      <h2 class="mb-3">Recent posts</h2>
      <% if @league.posts.count == 0 %>
      <p>There aren't any posts yet!</p>
      <% else %>
        <% @league.posts.sort_by(&:created_at).reverse.first(5).each do |post| %>
      <div class="post-preview-card">
        <div class="post-preview-card-content">
          <h3><%= post.title %></h3>
          <small>Posted by <%= post.author %> <%= time_ago_in_words(post.created_at)%> ago</small>
          
          <p><%= truncate(strip_tags(post.rich_text_content.to_s), length: 200) %>... <%= link_to "Full post >>", post_path(post) %></p>
        </div>
      </div>
      <% end %>
      <% end %>
      
      <div class="league-actions">
        <%= link_to "New Post", new_league_post_path(@league), class: "btn btn-light mt-3 mb-1" %>
      </div>
      
    </div>
    <div class="col-lg-5 col-sm-12 text-center px-5">
      <h2 class="mb-3">Teams</h2>
      <div class="teams-grid">
        <% @league.teams.each do |team| %>
        <div class="team-avatar">
          <%= link_to cl_image_tag(user_avatar(team.user, 100), class: "avatar-bordered-md"), team_path(team) %>
          <p><%= link_to team.hometown + " " + team.name, team_path(team), class: "team-link" %></p>
        </div>
      <% end %>
      </div>
    </div>
  </div>
<% else %>
<h2>Hi, <%= current_user.name %>. Please create a team to access league content.</h2>
<hr class="horizontal-rule">
<div class="league-show-links">
  <%= link_to "Create a Team", new_team_path, class: "btn btn-light mb-1 mt-3" %>
  <%= link_to "Back to Leagues", leagues_path, class: "btn btn-outline-light" %>
</div>
<% end %>
