<div class="league-heading mb-3">
  <h1><%= @league.name %></h1>
</div>

<% if @league.users.include?(current_user) %>
  <% @league.posts.sort_by(&:created_at).reverse.first(5).each do |post| %>
  <div class="post-preview-card">
  <div class="post-preview-card-content">
    <h3><%= post.title %></h3>
    <p>Posted by: <%= post.author %></p>
    <p><%= truncate(strip_tags(post.rich_text_content.to_s), length: 200) %> <%= link_to "Full post...", post_path(post) %></p>
  </div>
  <div class="post-preview-card-links">
    
  </div>
</div>

<% end %>
<%= link_to "New Post", new_post_path, class: "btn btn-light mt-3" %>
<% else %>
<h2>Sorry, <%= current_user.name %>. You don't have access to this league.</h2>
<%= link_to "Back to Leagues", leagues_path, class: "btn btn-light mt-3" %>
<% end %>
