<%= render 'shared/league-nav' %>

<h2>Crown a Champion</h2>

<%= simple_form_for [@league, @championship] do |f| %>
  <% current_year = Date.today.year %>
  <%= f.input :year, label: "Championship Year", collection: 1990..current_year %>
  <%= f.hidden_field :league_id, value: @league.id %>
  <%= f.input :team_id, label: "Team", collection: @league.teams %>
  
  <%= f.submit "Crown Champion", class: "btn btn-light" %>
<% end %>