<div class="league-nav">
  <div class="league-nav-items">
    <%= link_to "Dashboard", league_path(@post.league), class: "league-nav-item" %>
    <%= link_to "League History", league_history_path(@post.league), class: "league-nav-item" %>
    <%= link_to "Power Rankings", league_rankings_path(@post.league), class: "league-nav-item" %>
    <% if current_user.id == @post.league.user_id %>
      <%= link_to "League Settings", edit_league_path(@post.league), class: "league-nav-item" %>
    <% end %>
  </div>
</div>
<h2>Edit Post</h2>

<%= simple_form_for (@post) do |f| %>

  <%= f.input :post_type, label: "Post Type", as: :radio_buttons, collection: @post_types %>
  <%= f.input :title %>
  <%= f.hidden_field :author, value: current_user.name %>
  <%= f.label :content %>
  <%= f.rich_text_area :content %>
  <%= f.hidden_field :league_id, value: @post.league_id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  
  <%= f.submit "Update and Share", class: "btn btn-light mt-3 mb-1" %>
<% end %>
<%= link_to "Cancel", post_path(@post), class: "btn btn-outline-light" %>