<%= render 'shared/league-nav' %>
<h2>Create a post</h2>

<%= simple_form_for [ @league, @post ] do |f| %>

  <%= f.input :post_type, label: false, as: :radio_buttons, collection: @post_types %>
  <%= f.input :title %>
  <%= f.hidden_field :author, value: current_user.name %>
  <%= f.label :document, label: "PDF" %>
  <%= f.file_field :document %>
  <br>
  <%= f.label :content %>
  <%= f.rich_text_area :content %>
  <br>
  <%= f.hidden_field :league_id, value: @league.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  
  <%= f.submit "Share", class: "btn btn-light" %>
<% end %>